 body {
     position: relative;
     box-sizing: border-box;
     background-color: red;
 }
 .centered {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 h1 {
    border-radius: 10px;
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
   
}

button {
    margin: 0 auto;
    display: block;
    background: white;
    padding: 10px;
    border-radius: 5px;
    font-family: "Monospace";
}

button:hover {
    background: yellow;
}

